<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Random Sentence</title>
        <style>
            .container {
                display: flex;
                align-items: center;
            }
            .image {
                width: 100px; /* Adjust the width as needed */
                height: auto;
                margin-right: 20px; /* Adjust the margin as needed */
            }
            .text {
                font-size: 20px; /* Adjust the font size as needed */
            }
        </style>
    </head>
<body>
    <div class="container">
        <img src="/images/cute_dog.png" alt="Your Image"  class="image">
        <div class="text"><%= randomSentence %></div>
    </div>
    <h3>link to Repo: <a href="https://github.com/tammyisaninja/tammyrepo">tammy's repo</a></h3>
</body>
</html>